<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_frame1.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{97,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_frame2.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{97,82}</string>
                <key>textureRect</key>
                <string>{{97,0},{97,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_frame3.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{97,82}</string>
                <key>textureRect</key>
                <string>{{194,0},{97,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_frame4.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{97,82}</string>
                <key>textureRect</key>
                <string>{{291,0},{97,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_frame5.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{97,82}</string>
                <key>textureRect</key>
                <string>{{388,0},{97,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_frame6.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{97,82}</string>
                <key>textureRect</key>
                <string>{{485,0},{97,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_frame7.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{97,82}</string>
                <key>textureRect</key>
                <string>{{582,0},{97,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_frame8.tiff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{97,82}</string>
                <key>textureRect</key>
                <string>{{679,0},{97,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{776,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ad849f92e1d50be801017e763f7351f:6e5bab9b36e50ce94601d1dad713a22c:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
